<% if @user_name %>
<a href="/posts/new" id="new-post-button">New Post...</a>
<% end %>
<ul class="post-list">
	<% @posts.each do|post| %>
	<a href="/posts/<%= post.id %>">
		<li>
			<h6 class="right">
				<span><%= post.timestamp %></span><br>
				<span>Liked <%= post.likes %> times, <%= post.num_comments || 0 %> comments</span>
			</h6>
			<h3><%= post.title %></h3>
			<h5>Posted by <%= post.author %></h5>
		</li>
	</a>
	<% end %>
</ul>