<div class="post">
	<div class="title">
		<h5 class="right"><%= @post.timestamp %></h5>
		<h1><%= @post.title %></h1>
		<h5 class="right">Liked <%= @post.likes %> time(s)</h5>
		<h4>Posted by <a href="/users/<%= @post.user_id %>"><%= @post.author %></a> from <%= @post.location %></h4>
	</div>
	<div class="post body">
		<%= @body %>
	</div>
</div>
<hr>
<% if @user_name %>
<form method="POST" action="/posts/<%= @post.id %>/likes">
	<input type="submit" value="Like +1">
</form>
<% end %>
<div class="post comments">
	<h2>Comments</h2>
	<% if @comments.empty? %>
	<h3>No comments yet...</h3>
	<% else %>
	<ul class="comments-list">
		<% @comments.each do|comment| %>

		<li class="comment">
			<h6 class="right">
				<span><%= comment.author %></span><br>
				<span><%= comment.timestamp %></span>
			</h6>
			<p><%= comment.body %></p>
		</li>
		<% end %>
	</ul>
	<% end %>
	<% if @user_name %>
	<form method="POST" action="/posts/<%= @post.id %>/comments">
		<input type="Text" name="body" placeholder="Write a comment..." required>
		<button type="submit" value="Comment">Comment</button>
	</form>
	<% end %>
</div>