<div class="post">
	<div class="title">
		<h1><%= @post.title %></h1>
		<h3>Posted by <a href="/users/<%= @post.user_id %>"><%= @post.author %></a></h3>
		<h4><%= @post.timestamp %></h4>
	</div>
	<hr>
	<div class="post body">
		<%= @body %>
	</div>
</div>
<hr>
<div class="post comments">
	<h2>Comments</h2>
	<% if @comments.empty? %>
	<h3>No comments yet...</h3>
	<% else %>
	<ul class="comments-list">
		<% @comments.each do|comment| %>

		<li class="comment">
			<p><%= comment.body %></p>

		</li>
		<% end %>
	</ul>
	<% end %>
	<% if @user_name %>
	<form method="POST" action="/posts/<%= @post.id %>/comments">
		<input type="Text" name="body" placeholder="Write a comment..." required>
		<input type="submit" value="Comment">
	</form>
	<% end %>
</div>