<div class="user info">
	<% if @user_id && @user.id == @user_id %>
	<a class="right" href="/users/edit">Edit your profile</a>
	<% end %>
	<h1><%= @user.full_name %></h1>
	<h5><%= @user.timestamp %></h5>
</div>
<div class="user posts">
	<h2><%= @user.full_name %>'s Posts:</h2>
	<% if @posts.empty? %>
	<h3>No posts yet...</h3>
	<% else %>
	<ul class="post-list">
		<% @posts.each do|post| %>
		<h6 class="right"><%= post.timestamp %></h6>
		<a href="/posts/<%= post.id %>"><li><h3><%= post.title %></h3></li></a>
		<% end %>
	</ul>
	<% end %>
</div>